Repository aws-amplify/amplify-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-backend, @aws-amplify/amplify-backend-api-approvers, @aws-amplify/amplify-backend-admins

add dependency review (#1442)
  .changeset/strange-weeks-worry.md
  .github/dependency_review_config.yml
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend, @aws-amplify/amplify-backend-admins

separate dependency review to a separate workflow
  .changeset/rich-queens-admire.md
  .github/workflows/dependency_review.yml
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend, @aws-amplify/amplify-backend-admins

PR feedback
  .github/workflows/dependency_review.yml
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

run dependency review only on pull requests (#1443)
  .changeset/rich-queens-admire.md
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend, @aws-amplify/amplify-backend-admins

chore: lint ignore test-projects dir
  .eslintignore
Owners: @aws-amplify/amplify-backend

fix import
  packages/integration-tests/src/test-e2e/iam_access_drift.test.ts
Owners: @aws-amplify/amplify-backend

more retries
  packages/integration-tests/src/e2e_tooling_client_config.ts
Owners: @aws-amplify/amplify-backend

make this code a bit more self-explanatory
  packages/integration-tests/src/npm_proxy_controller.ts
Owners: @aws-amplify/amplify-backend

clean that
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

pr feedback
  packages/integration-tests/src/test-e2e/iam_access_drift.test.ts
Owners: @aws-amplify/amplify-backend

use latest actions
  .github/actions/build_with_cache/action.yml
  .github/actions/install_with_cache/action.yml
  .github/actions/restore_build_cache/action.yml
  .github/actions/restore_install_cache/action.yml
  .github/actions/setup_node/action.yml
  .github/workflows/canary_checks.yml
  .github/workflows/deprecate_release.yml
  .github/workflows/e2e_resource_cleanup.yml
  .github/workflows/health_checks.yml
  .github/workflows/restore_release.yml
  .github/workflows/snapshot_release.yml
Owners: @aws-amplify/amplify-backend-admins

more
  .github/actions/setup_profile/action.yml
  .github/workflows/canary_checks.yml
  .github/workflows/e2e_resource_cleanup.yml
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

more
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

Upgrade actions that use NodeJS (#1455)
  .github/actions/build_with_cache/action.yml
  .github/actions/install_with_cache/action.yml
  .github/actions/restore_build_cache/action.yml
  .github/actions/restore_install_cache/action.yml
  .github/actions/setup_node/action.yml
  .github/actions/setup_profile/action.yml
  .github/workflows/canary_checks.yml
  .github/workflows/deprecate_release.yml
  .github/workflows/e2e_resource_cleanup.yml
  .github/workflows/health_checks.yml
  .github/workflows/restore_release.yml
  .github/workflows/snapshot_release.yml
Owners: @aws-amplify/amplify-backend-admins

update actions
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

chore: lint ignore test-projects dir (#1453)
  .eslintignore
Owners: @aws-amplify/amplify-backend

update actions
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

update actions (#1457)
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

Check IAM policies for new access (#1413)
  .changeset/rude-stingrays-repeat.md
  .github/workflows/health_checks.yml
  package-lock.json
  packages/integration-tests/package.json
  packages/integration-tests/src/e2e_tooling_client_config.ts
  packages/integration-tests/src/npm_proxy_controller.ts
  packages/integration-tests/src/test-e2e/create_amplify.test.ts
  packages/integration-tests/src/test-e2e/iam_access_drift.test.ts
Owners: @aws-amplify/amplify-backend, @aws-amplify/amplify-backend-admins, @aws-amplify/amplify-backend-api-approvers

run e2e tests on schedule
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

run e2e tests on schedule
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

run e2e tests on schedule
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

refactor run e2e check and only run on version packages commits to hotfix
  .eslint_dictionary.json
  .github/workflows/health_checks.yml
  scripts/components/github_client.ts
  scripts/components/is_version_packages_commit.ts
  scripts/do_include_e2e.ts
  scripts/is_version_packages_commit.ts
Owners: @aws-amplify/amplify-backend, @aws-amplify/amplify-backend-admins

cleanup
  .github/workflows/health_checks.yml
  scripts/do_include_e2e.ts
  scripts/is_version_packages_commit.ts
Owners: @aws-amplify/amplify-backend-admins, @aws-amplify/amplify-backend

checkout and setup node
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

fix token environment variable
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

Run e2e tests on schedule (#1468)
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

more readable
  scripts/do_include_e2e.ts
Owners: @aws-amplify/amplify-backend

fix access
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

wtf ?
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

that should do it
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

update comment
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

try that
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

Fix access to Github API (#1471)
  .github/workflows/health_checks.yml
Owners: @aws-amplify/amplify-backend-admins

defensive logic for undefined function env vars
  packages/backend-function/src/function_env_translator.test.ts
  packages/backend-function/src/function_env_translator.ts
Owners: @aws-amplify/amplify-backend

fix: refactoring text Amplify (Gen 2) to Amplify Gen 2
  .changeset/swift-planets-itch.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  README.md
  packages/create-amplify/src/amplify_project_creator.test.ts
  packages/create-amplify/src/amplify_project_creator.ts
  packages/create-amplify/src/project_root_validator.ts
  packages/integration-tests/src/test-e2e/create_amplify.test.ts
Owners: @aws-amplify/amplify-backend, @aws-amplify/amplify-backend-admins

refactor run e2e check; when running on hotfix, only run on version package commits (#1470)
  .eslint_dictionary.json
  .github/workflows/health_checks.yml
  scripts/components/github_client.ts
  scripts/components/is_version_packages_commit.ts
  scripts/do_include_e2e.ts
  scripts/is_version_packages_commit.ts
Owners: @aws-amplify/amplify-backend, @aws-amplify/amplify-backend-admins

throw instead of ignore
  packages/backend-function/src/function_env_translator.test.ts
  packages/backend-function/src/function_env_translator.ts
Owners: @aws-amplify/amplify-backend

changeset
  .changeset/mighty-owls-impress.md
Owners: @aws-amplify/amplify-backend

remove client id from auth output
  packages/auth-construct/src/construct.ts
  packages/backend-output-schemas/src/auth/v1.ts
Owners: @aws-amplify/amplify-backend

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*  @aws-amplify/amplify-backend

# API approval - public surface and dependencies.
**/API.md @aws-amplify/amplify-backend-api-approvers
**/package.json @aws-amplify/amplify-backend-api-approvers

# GitHub actions/checks approval
/.github/ @aws-amplify/amplify-backend-admins
