Repository aws-amplify/amplify-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-backend, @aws-amplify/amplify-backend-api-approvers, @aws-amplify/amplify-backend-admins

update unit test
  packages/auth-construct/src/construct.test.ts
Owners: @aws-amplify/amplify-backend

changeset
  .changeset/twenty-parents-knock.md
Owners: @aws-amplify/amplify-backend

update api
  packages/backend-output-schemas/API.md
Owners: @aws-amplify/amplify-backend-api-approvers

fix: format Amplify (Gen1) to Amplify Gen 1
  packages/integration-tests/src/test-e2e/create_amplify.test.ts
Owners: @aws-amplify/amplify-backend

fix: change text Amplify new code-first DX (Gen 2) to AWS Amplify Gen 2
  packages/create-amplify/src/project_root_validator.ts
Owners: @aws-amplify/amplify-backend

fix: extract output from cfn resources instead of props
  packages/auth-construct/src/construct.test.ts
  packages/auth-construct/src/construct.ts
  packages/auth-construct/src/string_maps.ts
Owners: @aws-amplify/amplify-backend

defensive logic for undefined function env vars (#1477)
  .changeset/mighty-owls-impress.md
  packages/backend-function/src/function_env_translator.test.ts
  packages/backend-function/src/function_env_translator.ts
Owners: @aws-amplify/amplify-backend

fix: refactoring text Amplify (Gen 2) to Amplify Gen 2 (#1474)
  .changeset/swift-planets-itch.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  README.md
  packages/create-amplify/src/amplify_project_creator.test.ts
  packages/create-amplify/src/amplify_project_creator.ts
  packages/create-amplify/src/project_root_validator.ts
  packages/integration-tests/src/test-e2e/create_amplify.test.ts
Owners: @aws-amplify/amplify-backend, @aws-amplify/amplify-backend-admins

chore: add changeset
  .changeset/good-cheetahs-protect.md
Owners: @aws-amplify/amplify-backend

Remove client ids from auth output schema (#1478)
  .changeset/twenty-parents-knock.md
  packages/auth-construct/src/construct.test.ts
  packages/auth-construct/src/construct.ts
  packages/backend-output-schemas/API.md
  packages/backend-output-schemas/src/auth/v1.ts
Owners: @aws-amplify/amplify-backend, @aws-amplify/amplify-backend-api-approvers

update changeset config
  .changeset/config.json
Owners: @aws-amplify/amplify-backend

update changeset config (#1487)
  .changeset/config.json
Owners: @aws-amplify/amplify-backend

feat: add support for function logs streaming to sandbox
  .changeset/cool-coins-add.md
  amplify_outputs.json
  package-lock.json
  packages/cli-core/API.md
  packages/cli-core/package.json
  packages/cli-core/src/format/format.test.ts
  packages/cli-core/src/format/format.ts
  packages/cli-core/src/index.ts
  packages/cli-core/src/printer/printer.ts
  packages/cli/src/commands/sandbox/sandbox_command.test.ts
  packages/cli/src/commands/sandbox/sandbox_command.ts
  packages/sandbox/API.md
  packages/sandbox/package.json
  packages/sandbox/src/cloudwatch_logs_monitor.test.ts
  packages/sandbox/src/cloudwatch_logs_monitor.ts
  packages/sandbox/src/file_watching_sandbox.test.ts
  packages/sandbox/src/file_watching_sandbox.ts
  packages/sandbox/src/lambda_function_log_streamer.test.ts
  packages/sandbox/src/lambda_function_log_streamer.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/sandbox_singleton_factory.ts
  packages/sandbox/tsconfig.json
Owners: @aws-amplify/amplify-backend, @aws-amplify/amplify-backend-api-approvers

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*  @aws-amplify/amplify-backend

# API approval - public surface and dependencies.
**/API.md @aws-amplify/amplify-backend-api-approvers
**/package.json @aws-amplify/amplify-backend-api-approvers

# GitHub actions/checks approval
/.github/ @aws-amplify/amplify-backend-admins
